# data and models
data/
!src/core/data/
*.csv
*.model

# plots and images
plots/
*.png
*.jpg
*.jpeg

# python environments and cache
.venv/
venv/
__pycache__/
*.pyc

# macos junk files
.DS_Store

# notes
*.md
!README.md

mlruns/
temp_plots/
mlflow.db

optuna_study.db
max_hr_config.yaml